<template>
  <div class="benefits_wrapper">
    <div class="benefits_container">
      <div class="benefits_ttl text-center">
        <img class="img-fluid" src="~/assets/img/what-you-get.png">
        <h1 class="text-center benefits_heading">
          Benefits
        </h1>
      </div>

      <ul>
        <li v-for="(list, i) in benefits" :key="i">
          {{ list.text }}
        </li>
      </ul>

      <div class="benefits_help">
        <div class="benefits_help-lt">
          <p>How Can I Help?</p>
          <ul>
            <li v-for="(item, key) in howHelp" :key="key">
              {{ item.text }}
            </li>
          </ul>
        </div>
        <div class="benefits_help-rt">
          <p>Why Should I Help?</p>
          <ul>
            <li v-for="(data, j) in whyHelp" :key="j">
              {{ data.text }}
            </li>
          </ul>
        </div>
      </div>

      <div class="btn text-center m-auto bcm_member-btn">
        Become Member
      </div>
    </div>
  </div>
</template>

<script>

import Benefits from '~/data/Benefits.json'
import WhyToHelp from '~/data/WhyToHelp.json'
import HowToHelp from '~/data/HowToHelp.json'

export default {
  components: {
  },

  data () {
    return {
      benefits: Benefits,
      whyHelp: WhyToHelp,
      howHelp: HowToHelp
    }
  }
}
</script>

<style lang="scss">

    .benefits_wrapper{
        background: url('../../assets/img/team-bg.png');
        width: 100%;
        height: auto;
        background-size: cover;

        .benefits_container{
            width: 95%;
            margin: auto;
            margin-top: 1rem;
            padding-bottom: 4rem;

            .benefits_ttl img {
                max-width: 90%;
                height: auto;
                margin: auto;
            }
        }

        .benefits_heading{
            transform: translateY(-120%);
            color: $afrost-green;
            font-weight: 500;
        }

        ul{
            color: $white;

            li {
                line-height: $line-height;
            }
        }

        .benefits_help{
            margin: 2rem auto;
            display: flex;
            justify-content: space-between;
            align-items: flex-start;

            .benefits_help-lt .benefits_help-rt{
                width: 50%;
            }

            .benefits_help-lt p, .benefits_help-rt p{
                color: $afrost-blue;
                font-size: calc(16px + 1.5vmin);
                font-weight: 500;
                text-align: center;
            }

            .benefits_help-lt ul li, .benefits_help-rt ul li{
                line-height: 2.5;
            }
        }

        @media (max-width: 768px) {
            .benefits_help{
                flex-flow: column;
            }

            .benefits_container{
                padding-bottom: 8rem;
            }
        }
    }

</style>
