<template>
  <div class="evntIntro_wrapper">
    <div class="currEvnt_cntnt">
      <h1>
        Current Events
      </h1>
    </div>
    <div class="currEvnt_cards">
      <template v-for="(rcntEvnt,i) in recentEvents">
        <EventCard :key="i" :title="rcntEvnt.title" :place="rcntEvnt.place" :date="rcntEvnt.date" />
      </template>
    </div>
  </div>
</template>

<script>

import EventCard from '~/components/Shared/EventCard'
import RecentEventsdata from '~/data/RecentEventData.json'

export default {
  components: {
    EventCard
  },

  data () {
    return {
      recentEvents: RecentEventsdata
    }
  }
}

</script>

<style lang="scss" scoped>

    .evntIntro_wrapper{
        background: url('../../assets/img/banner.png');
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .currEvnt_cntnt {
            margin: 2rem auto ;
            h1{
                color: $afrost-green;
                font-size: calc(16px + 3vmin);
            }
        }

        .currEvnt_cards{
            width: 90%;
            margin: 4rem auto;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .evntCard_wrapper{
                width: 25%;
            }
        }

        @media (max-width: 768px) {
            .currEvnt_cards .evntCard_wrapper{
                width: 33.3%;
            }
        }

        @media (max-width: 510px) {
            .currEvnt_cards .evntCard_wrapper{
                width: 100%;
            }
        }
    }

</style>
