<template>
  <div class="blog_section">
    <div class="blog_wrapper">
      <div class="blog_ttl text-center">
        <img class="img-fluid" src="~/assets/img/learnmore.png" alt="blog">
        <h1 class="text-center blog_heading">
          Blogs
        </h1>
      </div>
      <div class="wrapper">
        <div class="cards_wrap">
          <div v-for="(item, index) in blogs" :key="index" class="card_item">
            <div class="card_inner">
              <div class="card_top">
                <img src="~/assets/img/blog.png" alt="car">
              </div>
              <div class="card_bottom">
                <div class="card_info">
                  <p class="title">
                    {{ item.title }}
                  </p>
                  <p>
                    {{ item.content }}
                  </p>
                </div>
                <div class="card_creator">
                  <a href="item.link">Know More...</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>

import BlogData from '../../data/BlogData.json'

export default {
  
  data () {
    return {
      blogs: BlogData
    }
  }
}
</script>

<style lang="scss" scoped>
    .blog_section{
      .blog_heading{
        transform: translateY(-120%);
        color: $afrost-blue;
        font-weight: 500;
      }
      
    .card_item .card_inner .card_top img {
        display: block;
        width: 100%;
        height: 100%;
        /* border-radius: 10px 10px 0px 0px; */
      }
    
    .wrapper {
      width: 80%;
      margin: 20px auto;
    }

    .cards_wrap {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      
    }

    .cards_wrap .card_item {
      width: 30%;
      box-shadow: $box-shadow;
      border-radius: 10px;
      margin-bottom: 25px;
    }

    .cards_wrap .card_inner {
      background: #fff;
    }

    .cards_wrap .card_top {
      width: 100%;
      min-height: 150px;
      padding-bottom: 0;
    }

    .cards_wrap .card_bottom {
      padding: 15px;
    }

    .cards_wrap .card_bottom .card_category {
      text-transform: uppercase;
      text-align: center;
    }

    .cards_wrap .card_bottom .card_info {
      padding: 15px;
      margin: 10px 0;
    }

    .cards_wrap .card_bottom .card_info .title {
      color: #0071bc;
      font-size: 18px;
      margin-bottom: 5px;
    }

    .cards_wrap .card_bottom .card_creator {
      text-align: center;
    }

    .card_creator a {
      text-decoration: none;
      color: $afrost-blue;
    }

    @media (max-width: 1024px) {
      .cards_wrap .card_item {
        width: 33.3%;
      }
    }

    @media (max-width: 768px) {
      .cards_wrap .card_item {
        width: 50%;
      }
    }

    @media (max-width: 528px) {
      .cards_wrap .card_top {
        height: auto;
      }
      .cards_wrap .card_item {
        width: 100%;
      }
    }
      
  }
</style>
