<template>
  <v-carousel
    class="caraousel"
    hide-delimiter-background
    show-arrows-on-hover
    :show-arrows="false"
    light
  >
    <v-carousel-item
      v-for="(slide, i) in slides"
      :key="i"
      class="caraousel-item"
    >
      <v-sheet>
        <v-row>
          <div class="">
            <div class="tm_cardWrapper af-flex af-space-evenly">
              <div class="tm_card">
                <div class="tm_cardCntnt af-flex">
                  <p>
                    {{ slide.content }}
                  </p>
                  <div class="tm_cardImage">
                    <img src="~/assets/img/customer1.png" alt="testimonial_writer">
                  </div>
                </div>
              </div>
              <div class="tm_cardWriter">
                <h3 class="afrost-blue">
                  {{ slide.author }}
                </h3>
                <h4 class="afrost-black">
                  {{ slide.event }}
                </h4>
              </div>
            </div>
          </div>
        </v-row>
      </v-sheet>
    </v-carousel-item>
  </v-carousel>
</template>

<script>

import Testimonial from '~/data/Testimonial.json'

export default {
  data () {
    return {
      slides: Testimonial
    }
  }
}
</script>

<style scoped lang="scss">
    .tm_cardWrapper{
        align-items: center;
    }

    .tm_card{
        display: block;
        box-shadow: $box-shadow;
        flex: 0.6;
        padding: 2rem;
        
        p{
            line-height: 2;
        }
    }

    .tm_cardImage{
        right: -12%;
        position: relative;
    }

    .tm_cardCntnt{
        align-items: center;
    }

    .caraousel{
      height: 400px!important;
    }

    @media screen and (max-width: 1023px){

      .caraousel{
          height: 600px!important;
        }

      .v-carousel__item{
        height: 550px!important;
      }

      .tm_cardWrapper{
        display: block;

        .tm_card{
          display: block;
          box-shadow: none;
          padding: 1rem;
        }

        .tm_cardWriter{
          text-align: center;
        }

        .tm_cardCntnt{
          display: block;

          p{
             width: 100%;
          }
        }

        .tm_cardImage{
          text-align: center;
          right: 0;
          width: 100%;
        }
      }
    }
</style>
