<template>
  <div class="team_card text-center">
    <div class="team_cardItem text-center">
      <img :src="img">
      <div class="team_cardInner">
        <p>{{ name }}</p>
        <p>{{ role }}</p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    img: {
      type: String,
      default: ''
    },
    name: {
      type: String,
      default: ''
    },
    role: {
      type: String,
      default: ''
    }
  }
}
</script>

<style lang="scss">
    .team_card{
        width: 25%;
    }

    .team_cardItem{
        height: auto;
    }

    .team_cardInner{
        p:first-child {
            color: $afrost-green;
        }

        p:last-child{
            color:  $afrost-blue;;
        }
    }

    @media (max-width: 1024px) {
      .teamMembers_wrapper .team_card {
        width: 33.3%;
      }
    }

    @media (max-width: 768px) {
      .teamMembers_wrapper .team_card {
        width: 50%;
      }
    }

    @media (max-width: 528px) {
      .teamMembers_wrapper .team_card {
        width: 100%;
      }
    }
</style>
