<template>
  <div class="abtVision_wrapper text-center">
    <template v-for="(goal, index) in goals">
      <VisionCard :key="index" :title="goal.title" :content="goal.content" :logo="goal.logo" />
    </template>
  </div>
</template>

<script>

import VisionCard from '~/components/Shared/VisionCard'
import AboutUsVision from '~/data/AboutUsVision.json'

export default {
  components: {
    VisionCard
  },
  data () {
    return {
      goals: AboutUsVision
    }
  }
}

</script>

<style lang="scss" scoped>

    .abtVision_wrapper{
        width: 90%;
        margin: 1rem auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    @media (max-width: 1024px) {
      .abtVision_wrapper .v_cardWrapper {
        width: 33.3%;
      }
    }

    @media (max-width: 768px) {
      .abtVision_wrapper .v_cardWrapper {
        width: 50%;
      }
    }

    @media (max-width: 528px) {
      .abtVision_wrapper .v_cardWrapper {
        width: 100%;
      }
    }

</style>
