/* eslint-disable vue/html-self-closing */
<template>
  <v-app class="layout_wrapper">
    <v-app-bar height="70" fixed app color="primary">
      <div>
        <a href="/"><img src="~/assets/img/afrost-logo.png" alt="Afrost"></a>
      </div>
      <v-spacer />
      
      <ul class="navlinks">
        <li v-for="(navitem, index) in navlink" :key="index">
          <a :href="navitem.url">{{ navitem.content }}</a>
        </li>
      </ul>
      <v-btn icon class="hide" color="secondary" @click.stop="rightDrawer = !rightDrawer">
        <v-icon>mdi-menu</v-icon>
      </v-btn>
    </v-app-bar>

    <v-content class="layout_content">
      <nuxt />
    </v-content>

    <v-navigation-drawer v-model="rightDrawer" color="primary" :right="right" temporary fixed>
      <v-list class="sidenav_list">
        <div>
          <img src="~/assets/img/afrost-logo.png" alt="Afrost">
        </div>
        <v-list-item v-for="(navitem, index) in navlink" :key="index" class="sideLinks" @click.native="right = right">
          <a class="side_links" :href="navitem.url">{{ navitem.content }}</a>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>

    <div class="footer_wrapper text-center">
      <div class="footers_ttl text-center">
        <img class="img-fluid" src="~/assets/img/letstalk.png">
        <h1 class="text-center ttl-heading ttl_heading-color">
          Contact Us
        </h1>
      </div>
      <div class="form af-flex">
        <div class="form_input">
          <label>Name</label>
          <input v-model="name" type="text" placeholder="Enter Your Name..." name="name">
        </div>
        <div class="form_input">
          <label>Email</label>
          <input v-model="email" type="text" placeholder="Enter Your Email..." name="email">
        </div>
        <div class="form_input form_innput-message">
          <label>Message</label>
          <input v-model="Message" type="text" placeholder="Type Your Message..." name="message">
        </div>
      </div>
      <button class="btn btn_footer-submit">
        Submit
      </button>
    </div>

    <Footer />
  </v-app>
</template>

<script>

import navlinks from '../data/navlinks.json'
import Footer from './footer'

export default {

  components: {
    Footer
  },

  data () {
    return {
      clipped: false,
      drawer: false,
      fixed: false,
      miniVariant: false,
      right: true,
      rightDrawer: false,
      name: '',
      email: '',
      Message: '',
      navlink: navlinks
    }
  },
  method () {

  }
}
</script>

/*
* Scoped Styles only for this component
*/

<style scoped lang="scss">

  .footer_wrapper{
    padding: 2%;
  }

  .ttl_heading-color{
    color: $afrost-blue;
  }

  .form{
    display: flex;
    flex-wrap: wrap;
  }

  .form_input{
    flex: 1 0.5 auto;
    margin: 10px;

    label {
      display: block;
      width: 100%;
      text-align: left;
      margin-bottom: 10px;
      padding: 10px;
    }

    input{
      width: 100%;
      padding: 10px;
      outline: none;
      border: none;
      border-bottom: 2px solid #D4CACA;
    }
  }

  .btn_footer-submit{
    margin: 20px;
  }

  .navlinks{
    list-style: none;
    float: left;
    
    li{
      float: left;
      padding: 40px;

     a{
       color: $afrost-green;
       text-decoration: none;
     }
    }
  }

  .sideLinks{
    padding: 10px;
    text-align: center;
  }

  .side_links{
    color: $afrost-green;
    text-decoration: none;
    text-align: center;
  }

  .sidenav_list{
    text-align: center;
    padding: 20px;
  }

  @media screen and (min-width: 1300px){
    .hide{
      display: none;
    }
  }

  @media screen and (max-width: 1023px){
    .navlinks{
      display: none
    }
  }
</style>
