<template>
  <v-layout column justify-center align-center>
    <Intro />
    <Benefits />
    <Members />
  </v-layout>
</template>

<script>

import Intro from '~/components/Membership/Intro'
import Benefits from '~/components/Membership/Benefits'
import Members from '~/components/Membership/Members'

export default {
  components: {
    Intro,
    Benefits,
    Members
  },
  head () {
    return {
      title: 'Membership',
      meta: [
        { name: 'description', content: '' },
        { name: 'content', content: '' }
      ]
    }
  }
}
</script>
