<template>
  <div class="services_wrapper">
    <PageHeader :title="title" />

    <div class="services_main">
      <div v-for="(service, i) in servicesCards" :key="i" class="services_pts">
        <img :src="getImgUrl(service.img)" class="service_number">
        <VisionCard :title="service.title" :content="service.content" :logo="service.logo" />
      </div>
    </div>
  </div>
</template>

<script>

import PageHeader from '~/components/Shared/PageHeader'
import VisionCard from '~/components/Shared/VisionCard'
import ServicesData from '~/data/ServicesData.json'

export default {

  components: {
    PageHeader,
    VisionCard
  },

  data () {
    return {
      title: 'Services',
      servicesCards: ServicesData
    }
  },

  methods: {
    getImgUrl (imageName) {
      const images = require.context('../../assets/img', false, /\.png$/)
      return images('./' + imageName)
    }
  }
}
</script>

<style lang="scss">

    .services_wrapper{
        width: 90%;
        margin: auto;
    }

    .services_main{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;

        .services_pts{
            width: 50%;

            .v_cardWrapper{
                width: 90%;
                margin: auto;
            }

            .v_cardWrapper p{
                text-align: left;
                line-height: 2;
            }
        }
    }

    .service_number{
        width: 100px;
        height: 100px;
        margin-left: 20px;
    }

     @media (max-width: 768px) {
      .services_main  {
        .services_pts {
            width: 50%;

            .v_cardWrapper{
                width: 95%;
                margin: auto;
            }
        }
      }
    }

    @media (max-width: 528px) {
      .services_main  {
        .services_pts {
            width: 100%;

            .v_cardWrapper{
                width: 90%;
                margin: auto;
            }
        }
      }
    }

    @media (max-width: 375px) {
      .services_main .services_pts .v_cardWrapper{
                width: 100%;
                margin: auto;
        }
    }
</style>
